@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ProjectsViewModel

@foreach (Project p in Model.Projects)
{
    <partial name="ProjectSummary" model="p" />
}   

@* This gives us the cool button layout at the bottom of the page *@
<div page-blah="@Model.PageInfo" page-action="Index" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-classes-enabled="true" class="btn-group pull-right m-1" ></div>